@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css";
@import "swiper/css/effect-coverflow";

@theme {
  --color-primary: #f53838;
  --color-secondary: rgba(245, 56, 56, 0.35);
  --color-primary-text: #4f5665;
  --color-heading-text: #0b132a;
  --font-primary: Rubik, sans-serif;
}

@layer {
  .section-container {
    @apply mx-auto max-w-[1440px] container px-4 py-4;
  }
}
@layer utilities {
  * {
    scrollbar-width: thin;
    scrollbar-color: #ff7eb3;
  }

  /* Scrollbar trên Chrome, Edge, Safari */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: white;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff7eb3, #ff758c, #ff7eb3);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff758c, #ff7eb3, #ff758c);
  }
}
